In [3]:
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [8]:
X_train=pd.read_csv('X_train.csv', engine='python')
X_test=pd.read_csv('X_test.csv', engine='python')
y_train=pd.read_csv('y_train.csv', engine='python')

In [9]:
X_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [10]:
X_test.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8

In [11]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [17]:
X_train.loc[:,['주구매상품', '주구매지점']]=X_train.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
X_train.loc[:,['주구매상품','주구매지점']].head()

   주구매상품  주구매지점
0      5      0
1     21     19
2      6      1
3      5      2
4     15      8

In [18]:
X_test.loc[:,['주구매상품','주구매지점']]=X_test.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
X_test.loc[:,['주구매상품','주구매지점']].head()

   주구매상품  주구매지점
0      3      9
1      9     19
2      0      8
3     31      9
4     19     22

In [22]:
X_train.loc[:,['환불금액']]=X_train.loc[:,['환불금액']].fillna(0)
X_train.loc[:,['환불금액']].head()

        환불금액
0  6860000.0
1   300000.0
2        0.0
3        0.0
4        0.0

In [23]:
X_test.loc[:,['환불금액']]=X_test.loc[:,['환불금액']].fillna(0)
X_test.loc[:,['환불금액']].head()

         환불금액
0   4050000.0
1  48034700.0
2  30521000.0
3         0.0
4         0.0

In [25]:
X_test_head=X_test.iloc[:,0]
X_test_head

0       3500
1       3501
2       3502
3       3503
4       3504
        ...
2477    5977
2478    5978
2479    5979
2480    5980
2481    5981
Name: cust_id, Length: 2482, dtype: int64

In [26]:
X_train=X_train.iloc[:,1:]
X_test=X_test.iloc[:,1:]
y_train=y_train.iloc[:,-1]

In [27]:
X_train.head()

       총구매액     최대구매액       환불금액  주구매상품  주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      5      0    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     21     19     2  1.500000  0.000000     1
2   3197000   1639000        0.0      6      1     2  2.000000  0.000000     1
3  16077620   4935000        0.0      5      2    18  2.444444  0.318182    16
4  29050000  24000000        0.0     15      8     2  1.500000  0.000000    85

In [28]:
X_test.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,3,9,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,9,19,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,0,8,101,14.623762,0.083277,3
3,7594080,5225000,0.0,31,9,5,2.000000,0.000000,47
4,1795790,1411200,0.0,19,22,3,2.666667,0.125000,8

In [29]:
y_train.head()

0    0
1    0
2    1
3    1
4    0
Name: gender, dtype: int64

## Logistic Regression

In [37]:
LR=LogisticRegression()
LR.fit(X_train, y_train)
print('LR score:', LR.score(X_train, y_train))
predict=LR.predict_proba(X_test)
predict=pd.DataFrame(predict)
predict=predict.iloc[:,1]
predict=pd.concat([X_test_head,predict], axis=1)
print(predict)

LR score: 0.624
      cust_id         1
0        3500  0.425232
1        3501  0.198986
2        3502  0.238942
3        3503  0.490611
4        3504  0.497643
...       ...       ...
2477     5977  0.423941
2478     5978  0.499290
2479     5979  0.307654
2480     5980  0.423974
2481     5981  0.499399

[2482 rows x 2 columns]

## MLPClassifier

In [54]:
mlp=MLPClassifier(hidden_layer_sizes=(10,), activation='relu', solver='adam', alpha=0.0001, batch_size='auto', learning_rate_init=0.001)
mlp.fit(X_train,y_train)
print('MLP score:', mlp.score(X_train,y_train))
predict=mlp.predict_proba(X_test)
predict=pd.DataFrame(predict)
predict=predict.iloc[:,1]
predict=pd.concat([X_test_head, predict])
print(predict)

MLP score: 0.49
0       3500.0
1       3501.0
2       3502.0
3       3503.0
4       3504.0
         ...
2477       1.0
2478       0.0
2479       1.0
2480       1.0
2481       1.0
Length: 4964, dtype: float64

## RandomForestClaasifier

In [77]:
RF=RandomForestClassifier(n_estimators=100, max_depth=5, random_state=999)
RF.fit(X_train, y_train)
print('RF score :', RF.score(X_train,y_train))
predict=RF.predict_proba(X_test)
predict=pd.DataFrame(predict)
predict=predict.iloc[:,1]
predict=pd.concat([X_test_head, predict], axis=1)
print(predict)

RF score : 0.6928571428571428
      cust_id         1
0        3500  0.424862
1        3501  0.190221
2        3502  0.232638
3        3503  0.413404
4        3504  0.475613
...       ...       ...
2477     5977  0.489450
2478     5978  0.512312
2479     5979  0.430330
2480     5980  0.378148
2481     5981  0.561426

[2482 rows x 2 columns]

In [86]:
a=predict[predict.iloc[:,1]>0.5]
a=pd.DataFrame(a)

In [87]:
print(a)

      cust_id         1
7        3507  0.507800
14       3514  0.513902
22       3522  0.640748
25       3525  0.544129
27       3527  0.556066
...       ...       ...
2471     5971  0.558919
2474     5974  0.550024
2475     5975  0.573974
2478     5978  0.512312
2481     5981  0.561426

[522 rows x 2 columns]